<button routerLink="/home" *ngIf="step == 4" type="submit"
    class="absolute top-10 right-10 w-28 py-2 text-sm border-2 border-gray-300 cursor-pointer  text-black transition-all focus:ring-4 focus:ring-gray-200 rounded-3xl hover:bg-gray-100 font-semibold">Salir</button>
<section class="grid grid-cols-1 lg:grid-cols-2 min-w-screen items-center justify-center min-h-screen relative"
    *ngIf="step == 1">
    <article class="w-full hidden items-center justify-center lg:flex bg-image">
        <p class="text-4xl text-left w-2/4 leading-tight font-semibold">Empezar a utilizar <span
                class="text-[#e45858]">FindHouse</span> es muy sencillo</p>
    </article>
    <form [formGroup]="ownershipForm" (ngSubmit)="nextStep()"
        class="flex flex-col justify-around items-stretch min-h-full lg:mr-40 mx-16 gap-2">
        <div class="flex flex-row w-full items-center justify-between lg:justify-end">
            <!-- <img class="hidden lg:absolute lg:top-10 lg:left-10" src="{{keys}}" alt="keys"> -->
        </div>
        <article class="flex flex-col gap-5">
            <span class="font-semibold text-gray-600">Ubicación</span>
            <select formControlName="country" class="border-b-2 w-full border-gray-200 px-4 py-2 pr-8 outline-none">
                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
        </article>
        <div class="text-red-500"
            *ngIf="f['country'].errors && f['country'].touched || submitted && f['country'].errors">
            <span *ngIf="f['country'].errors['required']">{{errorMessage.required}}</span>
            <span *ngIf="f['country'].errors['pattern']">{{errorMessage.letters}}</span>
        </div>
        <article class="flex flex-row border-b-2 border-gray-200"
            [ngClass]="{'border-red-500': f['price'].errors && f['price'].touched} || f['price'].errors">
            <div class="flex flex-col gap-3 items-start justify-center w-full">
                <span class="font-semibold text-gray-600">Renta</span>
                <input formControlName="price"
                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                    type="text" placeholder="$54.000">
            </div>
            <div class="flex justify-center items-center">
                <i class="fa-solid fa-dollar-sign" style="color: #555557;"></i>
            </div>
        </article>
        <div class="text-red-500" *ngIf="f['price'].errors && f['price'].touched || submitted && f['price'].errors">
            <span *ngIf="f['price'].errors['required']">{{errorMessage.required}}</span>
            <span *ngIf="f['price'].errors['pattern']">{{errorMessage.numbers}}</span>
        </div>
        <article class="flex flex-row border-b-2 border-gray-200"
            [ngClass]="{'border-red-500': f['description'].errors && f['description'].touched} || f['description'].errors">
            <div class="flex flex-col gap-3 items-start justify-center w-full">
                <span class="font-semibold text-gray-600">Descripción</span>
                <textarea [ngClass]="{'border-red-500': f['description'].errors}" formControlName="description"
                    class="overflow-hidden max-h-32 appearance-none bg-transparent border-none text-gray-600 mr-3 w-full py-1 px-2 leading-tight focus:outline-none "
                    type="text"
                    placeholder="La casa cuenta con una suite en la planta superior con bañera de hidromasaje y una vista panorámica de las montañas"
                    aria-label="Full name"></textarea>
            </div>
        </article>
        <div class="text-red-500"
            *ngIf="f['description'].errors && f['description'].touched || submitted && f['description'].errors">
            <span *ngIf="f['description'].errors['required']">{{errorMessage.required}}</span>
            <span *ngIf="f['description'].errors['pattern']">{{errorMessage.check}}</span>
        </div>
        <article class="flex flex-row gap-5">
            <div class="flex flex-row border-b-2 w-full border-gray-200"
                [ngClass]="{'border-red-500': f['rooms'].errors}">
                <div class="flex flex-col gap-3 w-full items-start justify-center">
                    <span class="font-semibold text-gray-600">Habitaciones</span>
                    <div class="inline-block relative w-full">
                        <select formControlName="rooms"
                            class="cursor-pointer block appearance-none w-full px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                            <option *ngFor="let number of count" [value]="number">{{ number }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex flex-row border-b-2 w-full border-gray-200"
                [ngClass]="{'border-red-500': f['bathrooms'].errors}">
                <div class="flex flex-col gap-3 w-full items-start justify-center">
                    <span class="font-bold text-gray-600">Baños</span>
                    <div class="inline-block relative w-full">
                        <select formControlName="bathrooms"
                            class="cursor-pointer block appearance-none w-full bg-white px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                            <option *ngFor="let number of count" [value]="number">{{ number }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </article>
        <button type="submit"
            class="rounded-lg mt-5 mb-5 text-white py-2 px-5 cursor-pointer bg-[#e45858] transition-all focus:ring-4 focus:ring-gray-300 hover:bg-[#c04d4d]">Comencemos</button>
    </form>
</section>
<app-property-register-accommodation *ngIf="step == 2" />
<app-property-register-services *ngIf="step == 3" />
<app-property-register-images *ngIf="step == 5" />
<app-map *ngIf="step == 4" />
<section *ngIf="step != 1 && step != 6" class="absolute bottom-2 lg:bottom-10 flex items-center justify-around w-full">
    <span (click)="previousStep()"
        class="underline font-semibold hover:text-[##e45858] cursor-pointer transition-all">Atras</span>
    <button *ngIf="step != 5" (click)="nextStep()" type="submit"
        class="rounded-lg text-white py-2 px-5 cursor-pointer bg-[#e45858] transition-all focus:ring-4 focus:ring-gray-300 hover:bg-[#c04d4d]0">Siguiente</button>
    <button *ngIf="step == 5" (click)="registerProperty()" type="submit"
        class="rounded-lg text-white py-2 px-5 cursor-pointer bg-[#e45858] transition-all focus:ring-4 focus:ring-gray-300 hover:bg-[#c04d4d]">Finalizar</button>
</section>
<div class="min-h-screen flex flex-col justify-center items-center gap-2" *ngIf="step == 6">
    <div role="status">
        <svg aria-hidden="true" class="h-40 text-gray-200 animate-spin  fill-[#e45858b9]" viewBox="0 0 100 101"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
    <p class="text-2xl font-medium text-center up">Creada con exito <span
            class="text-[#e45858] underline cursor-pointer" routerLink="/">Click aqui</span></p>
</div>