<app-navbar></app-navbar>
<section class="py-5 bg-blueGray-50">
  <div class="w-full">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 -lg bg-blueGray-100 border-0">
      <div class="flex items-center justify-center px-4 lg:px-10 py-10 pt-0">
        <div x-data="{photoName: null, photoPreview: null}" class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
          <label class="block text-gray-700 text-sm font-bold mb-2 text-center" for="photo">
            Foto de perfil<span class="text-red-600"> </span>
          </label>
          <div class="text-center">
            <div class="mt-2">
              <img src="https://semantic-ui.com/images/avatar2/large/elyse.png"
                class="w-40 h-40 m-auto rounded-full shadow">
            </div>
            <div class="max-w-xs mt-3">
              <input
                class="block w-full text-sm  text-white bg-[#e45858] border border-gray-300 rounded-lg cursor-pointer "
                id="file_input" type="file">
            </div>
          </div>
        </div>

      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6  uppercase">
            Datos personales
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  Username
                </label>
                <input type="text"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white border-b-2 text-sm border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="lucky.jesse">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  Email address
                </label>
                <input type="email"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white  border-b-2  text-sm border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="jesse@example.com">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  First Name
                </label>
                <input type="text"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white  border-b-2  text-sm border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="Lucky">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  Last Name
                </label>
                <input type="text"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white  border-b-2 text-sm border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="Jesse">
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative max-w-sm">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                  <i class="fa-solid fa-cake-candles text-red-400"></i>
                </div>
                <input datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm outline-none rounded-lg  block w-full pl-10 p-2.5 " placeholder="Select date">
              </div>
              
            </div>
            
          </div>
          <h6 class="text-blueGray-400 text-sm mt-10 mb-6  uppercase">
            contacto
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  Address
                </label>
                <input type="text"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white  text-sm border-b-2 border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  City
                </label>
                <input type="email"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white  text-sm border-b-2 border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="New York">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  Country
                </label>
                <input type="text"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white  text-sm  border-b-2 border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="United States">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs  mb-2" htmlfor="grid-password">
                  Postal Code
                </label>
                <input type="text"
                  class="border-0 outline-none focus:ring-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white border-b-2 text-sm border-b-gray-300 focus:outline-none  w-full ease-linear transition-all duration-150"
                  value="Postal Code">
              </div>
            </div>
          </div>

          <h6 class="text-blueGray-400 text-sm mt-3 mb-6  uppercase">
            INFORMACIÓN
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <textarea type="text"
                  class="border-0 border-b-2 px-3 py-3 placeholder-blueGray-300 text-blueGray-600  text-sm border-b-gray-300 w-full ease-linear transition-all duration-150 ring-0 outline-none focus:ring-0 focus:outline-none"
                  rows="4"> A beautiful UI Kit and Admin for JavaScript &amp; Tailwind CSS. It is Freeand Open Source.</textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
